.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .add-service form input,textarea{
     width: 40%;
     margin-bottom: 10px;
 }
 .head-part{
     color:blanchedalmond;
     margin: 20px;
 }
 .btn{
     background-color: blueviolet;
     color: white;
     font-size: larger;
     margin-bottom: 20px;
 }