.us{
    padding-top: 20px;
}
.about{
    border-radius: 5px;
    background-color: rgb(54, 50, 54);
    padding: 20px;
    margin: 30px;
    text-align: center;
    word-wrap: break-word;
     display: inline-block;
     color: white;
}
.head{
    background-color: cornflowerblue;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;

}