.header{
    text-align: center;
}

.header nav {
    background-color: rgb(21, 22, 24);
    line-height: 60px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 18px;
}
.logout{
    color: rgb(228, 228, 235);
    background-color: rgb(22, 22, 22);
}
.header nav a:hover{
    background-color: rgb(222, 227, 236);
    border-radius: 5px;
    color: rgb(23, 22, 24);
}
